@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #060c1a;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --ease-8vc: cubic-bezier(.246,.75,.187,1);
    --ease-8vc-out: cubic-bezier(.19,1,.22,1);
  }
}

.carousel-content > .carousel-item:first-child {
  padding-left: 0 !important;
}
.carousel-content > .carousel-item:last-child {
  padding-right: 0 !important;
}

@keyframes investor-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-investor-scroll {
  animation: investor-scroll 30s linear infinite;
}
